<body>
    <div class="container">
        <div class="container-text" *ngIf="clinica; else loading">
            <h2>{{ clinica.name }}</h2>
            <p>{{ clinica.nameDentista }}</p>
            <p>{{ clinica.emailDentista }}</p>
            <p>{{ clinica.especialidade }}</p>
            <p>{{ clinica.description }}</p>
            <div class="infos">
                <div class="address-info">
                    <p>{{ clinica.localizacaodto?.rua }}</p>
                    <p>{{ clinica.localizacaodto?.cidade }}</p>
                    <p>{{ clinica.localizacaodto?.estado }}</p>
                    <p>{{ clinica.localizacaodto?.number }}</p>
                </div>

                <div class="button-class">
                    <button (click)="agendar()">Deseja agendar uma consulta?</button>
                </div>
            </div>
        </div>

        <div class="container-map" *ngIf="clinica">
            <app-map-display [localizacao]="clinica.localizacaodto"></app-map-display>
        </div>
        
        <ng-template #loading>
            <p>Carregando informações da clínica...</p>
        </ng-template>

    </div>
</body>
